@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  font-family: "Poppins", sans-serif;
  font-family: "Comfortaa", cursive;
  --font-family-main: "poppins";
  --theme-color: #16375a;
  --primary-color: #0b1b2d;
  --secondary-color: #0f273f;
  --text-color: #374151;
  --blue-color: #34adf4;
  --grey-color: #dcedff;
  --white: #fff;
}
